<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Webpack Template - A webpack plugin project template.">
    <meta name="author" content="dredmonds">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="./assets/images/favicon.ico">
    <title> <%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  </head>
  <body>
    <div>Hello, world!</div>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>